html,
body {
  background-color: #444444;
}
div {
  background-color: white;
  width: 600px;
}
div#nombretiempo {
  background-color: #1f707a;
  color: azure;
  padding: 10px 10px;
}
div#enunciado {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-decoration: none;
}
